{% extends "base.html" %}
{% load static %}

{% block Styles %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">

{% endblock %}
{% block title %}

{% endblock %}
{% block content %}
    <div class="col-sm-10">
        <h3 class='text-secondary'><a class='text-decoration-none' href="{% url 'blogs:Profile' %}">Dashboard</a>/
            <a class='text-decoration-none' href="#">Update Blog Post</a></h3>
        <form action="{% url 'blogs:Profile' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            {% ifequal request.user.id 1 %}
                <input type="checkbox" name="id_featured" value="featured">Mark as Featured <br><br>
            {% endifequal %}
            <input type="submit" name="submit" value="Update" class='btn btn-register'>
            <input type="reset" name="reset" value="Cancel" class='btn btn-reset'>
        </form>
    </div>
{% endblock %}
